<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227274715584-d4rm1599mq9b7b1bqrm8cj1n25ofe64q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227274715584-d4rm1599mq9b7b1bqrm8cj1n25ofe64q</string>
	<key>API_KEY</key>
	<string>AIzaSyCezo74aAZ38OQb9PWXqWhR0zw5OYeoGQg</string>
	<key>GCM_SENDER_ID</key>
	<string>227274715584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectMobileFlutter</string>
	<key>PROJECT_ID</key>
	<string>surfify-99e91</string>
	<key>STORAGE_BUCKET</key>
	<string>surfify-99e91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227274715584:ios:658aead42fbec500d11825</string>
</dict>
</plist>